h3 {
    margin: 15px;
}

.nameTag {
    position: absolute;
    width: 93%;
    bottom: 30px;
    left: 0 auto;
    background-color: #4aaaa5;
    color: white;
    text-align: center;
}

.container {
    padding: 20px;
}
